@import "./config";

.list-item {
  width: 80px;
  @include flex(null, center);

  &:first-child {
    margin-left: -19px;
  }

  .condition-icon {
    width: 25px;
    margin-top: 10px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .condition-icon.night-weather-icon {
    margin-bottom: 18px;
  }

  .date {
    margin-bottom: 10px;

    .day-of-week {
      font-size: map-get($font-size, smallest);
      margin-bottom: 3px;
    }

    .date-of-day {
      text-align: center;
      font-size: map-get($font-size, tiny);
    }
  }
}

.wind {
  align-items: center;

  .direction {
    width: 15px;
    margin-right: 3px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .speed {
    font-size: map-get($font-size, tiny);

    span {
      font-size: 0.6rem;
      margin-left: 1px;
      white-space: nowrap;
    }
  }
}
