@import "./config";

.list-item {
  width: 75px;
  @include flex(null, center);

  &:first-child {
    margin-left: -19px;
  }

  .condition-icon {
    width: 20px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .date {
    margin-bottom: 10px;

    .day-of-week {
      font-size: map-get($font-size, smallest);
      margin-bottom: 3px;
    }

    .date-of-day {
      text-align: center;
      font-size: map-get($font-size, tiny);
    }
  }

  .wind {
    margin-top: 10px;
    align-items: center;

    .direction {
      width: 15px;
      margin-right: 3px;

      img {
        width: 100%;
        height: auto;
      }
    }

    .speed {
      font-size: map-get($font-size, tiny);

      span {
        font-size: 0.6rem;
        margin-left: 1px;
      }
    }
  }
}
