@import "./config";
@import "./css-reset.scss";
@import "@fontsource/ubuntu";

.app {
  min-height: 100vh;
  max-height: max-content;
  color: map-get($font-color, white-c);
  font-family: "ubuntu", sans-serif;
  user-select: none;
}

#bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  opacity: 0;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #747474;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #414141;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
