@import "./config";

.app-header {
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;

  .header-items-list {
    @include flex(space-between, center);

    .header-item {
      .icon {
        width: 30px;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
