@import "./config";

.hourly-forecasts-list {
  padding: 1rem 0;
  margin: 2.5rem 0;
  display: flex;
  flex-direction: row;
  overflow: auto hidden;
  width: 100%;

  .hourly-forecasts-list-item {
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.65rem;
    font-weight: map-get($font-weight, 100);
    color: #ebebebc9;
    letter-spacing: 0.5px;

    &:first-child {
      margin-left: 20px;
    }

    &:last-child {
      margin-right: 20px;
    }

    .condition-icon {
      width: 25px;
      margin: 5px 0;

      img {
        width: 100%;
        height: auto;
      }
    }

    .temp {
      font-size: map-get($font-size, normal);
      font-weight: map-get($font-weight, medium);
      margin-top: 5px;
      color: #fff;

      .circle {
        position: relative;
        bottom: 7px;
        left: 1px;
        font-size: 0.47rem;
      }
    }
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: #3f3f3f0e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3f3f3f52;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3f3f3f8f;
}
