@import "./config";

.app-main {
  margin-top: 55px;

  .main-viewport {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85vh;
    min-height: 400px;
  }

  .temp {
    text-align: center;
    opacity: 0.75;
    position: relative;

    sup {
      vertical-align: super;
    }

    .amount {
      font-size: map-get($font-size, massive) * 3;
      font-weight: map-get($font-weight, regular);
    }

    .unit {
      position: absolute;
      top: 0;
      font-size: map-get($font-size, normal);
    }

    .symbol {
      position: relative;
      left: 2px;
      font-size: 0.55rem;
    }
  }

  .weather-condition {
    text-align: center;
    margin-top: 20px;
  }

  .more-forecasts {
    text-align: center;
    margin: 20px 1rem 0 1rem;

    .more-btn {
      color: map-get($font-color, white-c);
      padding: 10px 30px;
      width: 100%;
      background-color: #2424243f;
      border-radius: 30px;
    }
  }
}
