@import "./config";

.seven-days-forecast-list {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100vw;
  height: 100vh;
  border-radius: 25px;
  background-color: #1b1b1b;
  transition: left 300ms ease, border-radius 900ms ease;
  @include flex(center, center);

  header {
    padding: 1rem;

    .back-btn {
      color: #fff;
      margin-bottom: 1rem;
    }

    .page-name {
      font-size: map-get($font-size, larger);
      font-weight: map-get($font-weight, regular);
    }
  }

  main {
    width: 100%;
    padding-top: 20px;

    .container {
      width: 100%;
      overflow: auto hidden;
      margin: 0 1rem;

      .list {
        min-width: max-content;
        margin: 0 1rem 0 1rem;
        padding: 1rem 0;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
