@import "./config";

.chart {
  &:first-child {
    background-color: red;
  }

  .chart-pixel {
    width: 80px;
    text-align: center;

    &:first-child {
      margin-left: -19px;
    }

    .point {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      .shape {
        display: inline-block;
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background-color: transparent;
        border: 2px solid #fff;
      }

      .temp {
        font-size: map-get($font-size, tiny);
      }
    }
  }
}
